{% extends "baseMain.html" %} {% block content %} {% include 'navbar.html' %}

<div class="container">
    <div id="content" style="margin-top:2em">
        <div class="row">
            <main role="main" class="container">
                {{ pagination.links }}
                <div class="d-flex flex-column flex-md-row justify-content-center">
                    <table style="width:100%">
                        <thead>
                            <tr>
                                <th style="width:10%; color:white">No.</th>
                                <th style="width:60%; color:white">Content</th>
                                <th style="width:30%; color:white">Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dict_user in list_users %}
                            <tr>
                                <td style="width:10%; color:white">{{ loop.index + (page - 1) * per_page }}</td>
                                <td style="width:60%; color:white">{{ dict_user['content'] }}</td>
                                <td style="width:30%; color:white">{{ dict_user['user_name'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br> {{ pagination.links }}
            </main>
        </div>
    </div>
</div>

{% endblock %}