{% extends "baseMain.html" %} {% block content %}

<script src="{{ url_for('static', filename='js/login.js') }}"></script>

<nav class="navbar navbar-dark">
    <a class="navbar-brand" href="/">
        {{title}}
    </a>
</nav>

<div class="container">
    <div id="content">
        <div class="row">
            <main role="main" class="container">
                <div class="d-flex flex-column flex-md-row justify-content-center center">
                    <form method="POST" enctype="multipart/form-data" style="width: 90%">
                        <a href="/login">
                            <h2 style="color: white; text-align: center">LOGIN</h2>
                        </a>
                        <div class="d-block center">
                            <label for="user_name" class="label-fname-login">Username :</label>
                            <input type="text" id="user_name" name="user_name" placeholder="Enter Username ...">
                            <label for="password" class="label-id-login">Password :</label>
                            <input type="password" id="password" name="password" placeholder="Enter Password ...">
                            <div id="show_password">
                                <input type="checkbox" onclick="changeTypePassword()"> Show Password
                            </div>
                            <button id="submit_login" name="submit_login" value="Submit" class="btn btn-secondary btn-block btn-lg button_predict">
                                Submit
                            </button>
                            <div class="flex-column flex-md-row justify-content-center">
                                <div class="d-block center" style="width:100%; margin-top:10px; margin-bottom: 10px">
                                    <b>
                                        <h5 id="notify_login" class="text-center" style="color: red;">
                                            {{ error_login }}
                                        </h5>
                                    </b>
                                </div>
                            </div>
                        </div><br>
                        <a href="/register">
                            <h5 style="color: white; text-align: center">Create account ...</h5>
                        </a>
                    </form>
                </div>
            </main>
        </div>
    </div>
</div>

{% endblock %}