{% extends "baseMain.html" %} {% block content %} {% include 'navbar.html' %}

<div class="container">
    <div id="content" style="margin-top:1em">
        <div class="row">
            <main role="main" class="container">
                <div class="d-flex flex-column flex-md-row justify-content-center">
                    <div class="d-block" style="width:100%">
                        <!-- <button type="button" class="button-capture btn btn-secondary btn-block btn-lg button_predict" onclick="location.href='capture'" id="btn-capture" name="btn-capture" value="Capture">
                            <i class="fa fa-user-plus"></i>
                            <p>Capture</p>
                        </button> -->
                        <button type="button" class="button-upload btn btn-secondary btn-block btn-lg button_predict" onclick="location.href='upload'" id="btn-upload" name="btn-upload" value="Upload">
                            <i class="fa fa-image"></i>
                            <p>New Post</p>
                        </button>
                        <!-- <button type="button" class="button-detect btn btn-secondary btn-block btn-lg button_predict" onclick="location.href='detect'" id="btn-detect" name="btn-detect" value="Detect">
                            <i class="fa fa-video-camera"></i>
                            <p>Detect</p>
                        </button>
                        <button type="button" class="button-verify btn btn-secondary btn-block btn-lg button_predict" onclick="location.href='verify'" id="btn-verify" name="btn-verify" value="Verify">
                            <i class="fa fa-camera"></i>
                            <p>Verify</p>
                        </button>
                        <button type="button" class="button-delete btn btn-secondary btn-block btn-lg button_predict" onclick="location.href='delete'" id="btn-delete" name="btn-delete" value="Delete">
                            <i class="fa fa-trash"></i>
                            <p>Delete</p>
                        </button> -->
                        <button type="button" class="button-list_users btn btn-secondary btn-block btn-lg button_predict" onclick="location.href='list_users'" id="btn-list_users" name="btn-list_users" value="List Users">
                            <i class="fa fa-address-book"></i>
                            <p>List Posts</p>
                        </button>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

{% endblock %}