<nav class="navbar navbar-dark">
    <a style="color: white; margin-left: auto; margin-right: 3%;" href="{{ url_for('home') }}">
        <h4>{{title}}</h4>
    </a>
    <a style="color: white; margin-left: 3%; margin-right: auto;" href="{{ url_for('logout') }}">
        <button class="back-home-page">Logout</button>
    </a>
</nav>