{% extends "baseMain.html" %} {% block content %}

<script src="{{ url_for('static', filename='js/register.js') }}"></script>

<nav class="navbar navbar-dark">
    <a class="navbar-brand" href="/">
        {{title}}
    </a>
</nav>

<div class="container">
    <div id="content">
        <div class="row">

            <main role="main" class="container">
                <div class="d-flex flex-column flex-md-row justify-content-center center">
                    <form method="POST" enctype="multipart/form-data" style="width: 90%">
                        <a href="/register">
                            <h2 style="color: white; text-align: center">REGISTER</h2>
                        </a>
                        <div class="d-block center">
                            <label for="user_name" class="label-fname-register">Username :</label>
                            <input type="text" id="user_name" name="user_name" placeholder="Enter Username ...">
                            <label for="full_name" class="label-fname-register">Fullname :</label>
                            <input type="text" id="full_name" name="full_name" placeholder="Enter Fullname ...">
                            <label for="email" class="label-fname-register">Email :</label>
                            <input type="text" id="email" name="email" placeholder="Enter Email ...">
                            <h6 id="error_email"></h6>
                            <label for="password" class="label-id-register">Password :</label>
                            <input type="password" id="password" name="password" placeholder="Enter Password ...">
                            <label for="re_password" class="label-id-register">Re-Password :</label>
                            <input type="password" id="re_password" name="re_password" placeholder="Enter Re-Password ...">
                            <div id="show_password">
                                <input type="checkbox" onclick="changeTypePassword()"> Show Password
                            </div>
                            <button id="submit_register" name="submit_register" value="Submit" class="btn btn-secondary btn-block btn-lg button_predict">
                                Submit
                            </button>
                            <div class="flex-column flex-md-row justify-content-center">
                                <div class="d-block center" style="width:100%; margin-top:10px; margin-bottom: 10px">
                                    <b>
                                        <h5 id="notify_register" class="text-center" style="color: red;">
                                            {{ error_register }}
                                        </h5>
                                    </b>
                                </div>
                            </div>
                        </div><br>
                        <a href="/login">
                            <h5 style="color: white; text-align: center">Login again ...</h5>
                        </a>
                    </form>
                </div>
            </main>
        </div>
    </div>
</div>

{% endblock %}