{% extends "baseMain.html" %} {% block content %}

<script src="{{ url_for('static', filename='js/upload.js') }}"></script>

{% include 'navbar.html' %}

<div class="container" style="height: 100%;">
    <div id="content" style="height: 100%;">
        <div class="row" style="height: 100%;">
            <main role="main" class="container" style="height: 100%;">
                <div class="d-flex flex-column flex-md-row justify-content-center" style="height: 100%;">
                    <form method="POST" enctype="multipart/form-data" class=" w-100" style="height: 100%;">
                        <div class="d-block center w-100" style="height: 100%;">
                            <label for="content_upload" class="label-fname-upload">Content :</label>
                            <input type="text" id="content_upload" name="content_upload" placeholder="What is on your mind? ..." style="height: 45%; ">
                            <button id="submit_upload" name="submit_upload" value="Submit" class="btn btn-secondary btn-block btn-lg button_predict">
                                Post
                            </button>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </div>
</div>

{% endblock %}