body {
    background: url(/static/init/dell-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.navbar,
.footer-content {
    background-color: rgba(255, 255, 255, 0.4);
}

.navbar-brand {
    color: white;
    margin: auto;
}

.button-upload,
.button-detect,
.button-verify,
.button-capture,
.button-list_users,
.button-delete {
    background-color: #B3CCDF;
    color: #005A9B;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    line-height: 1;
    padding: 14px;
}

.inquiry-button {
    color: white;
    width: 160px;
    margin: auto;
    display: block;
    text-decoration: underline;
    text-align: center;
}

.inquiry-button:hover {
    color: white;
}

.button-upload i,
.button-detect i,
.button-verify i,
.button-capture i,
.button-list_users i,
.button-delete i {
    float: left;
}

.button-upload p,
.button-detect p,
.button-verify p,
.button-capture p,
.button-list_users p,
.button-delete p {
    margin: 0;
    text-align: right;
}

.button-upload:hover,
.button-detect:hover,
.button-verify:hover,
.button-capture:hover,
.button-list_users:hover,
.button-delete:hover {
    color: white;
    background-color: #B3CCDF;
}

.button-capture {
    margin-top: 0.5em !important;
}

.button-upload,
.button-detect,
.button-verify,
.button-list_users,
.button-delete {
    margin-top: calc(9.0%) !important;
}

#detected_name {
    color: white;
    padding-top: 2%;
}

#detect-content,
#capture-content {
    width: 50%;
    margin: auto;
    margin-top: calc(4%);
}


/*=================End new design===============*/

input[type=text],
input[type=password],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#loadingMessage {
    margin-top: 10%;
    text-align: center;
    padding: 40px;
    background-color: #B3CCDF;
    width: 72%;
    margin: auto;
    border-radius: 12px;
    color: #005A9B;
}


/*============= footer =========*/

footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.footer {
    width: 100%;
    margin: auto;
}

.footer-content {
    width: 100%;
    /*background-color: #3283D8;*/
    /*padding: 7px;*/
    height: 50px;
    text-align: center;
}

.footer {
    /*background-color: #3283D8;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 7px;
    margin-bottom: 0;
    width: 100%;
    height: 50px;*/
    bottom: 0;
    position: fixed;
}


/*.footer_evaluate {
    background-color: #ffaad4;
    text-align: center;
    bottom: 40px;
    width: 100%;
    height: 120px;
    position: fixed;
}*/


/*=============end footer =======*/


/*.button_predict {
  margin-top: 1em;
}*/

#image_capture,
#canvas_video_after {
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    display: block;
    width: 100%;
    object-fit: cover;
}

#canvas_video_after {
    margin-bottom: 5px !important;
}

.img-preview {
    width: 580px;
    height: 250px;
    border: 1em #064383;
    border-style: solid;
    border-radius: 1em;
}

.img-logo-javis {
    width: 110px;
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

.img-logo-tedix {
    height: 24px;
    padding-right: 10px;
    padding-left: 10px;
}

.img-logo-tedix,
.img-logo-javis {
    object-fit: cover;
}

.content {
    /* margin-bottom: 1em; */
    padding-top: 2em;
    padding-bottom: 2em;
}


/* #content {
    min-height: calc(86vh - 0px);
} */

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

.upload-label {
    width: 256px;
    display: inline-block;
    padding: 12px 30px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover {
    background: #34495E;
    color: #39D2B4;
}

.inpaint-label {
    width: 256px;
}

.loader {
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

#submit_upload,
#submit_delete,
#submit_login,
#submit_register {
    background-color: #B3B3B3 !important;
    width: 40%;
    margin: auto;
    margin-top: calc(6%);
    background: #B3CCDF !important;
    color: #005A9B;
}

#submit_verify {
    background-color: #B3B3B3 !important;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(6%);
    background: #B3CCDF !important;
    color: #005A9B;
}

#submit_delete_all {
    background-color: #B3B3B3 !important;
    width: 40%;
    margin: auto;
    margin-top: calc(6%);
    background: #d13434 !important;
    color: #005A9B;
}

#fname_upload,
.label-fname-upload,
#fname_delete,
.label-fname-delete,
#id_delete,
.label-id-delete,
#id_upload,
.label-id-upload,
#user_name,
#full_name,
#email,
#error_email,
.label-fname-login,
#password,
#re_password,
.label-id-login,
.label-fname-register,
.label-id-register,
#show_password {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block
}

.label-fname-delete,
.label-id-delete,
.label-fname-login,
.label-id-login,
.label-fname-register,
.label-id-register {
    color: white;
    padding-left: 2em;
    margin-top: calc(6%);
}

#show_password {
    color: white;
    padding-left: 2em;
    margin-top: calc(4%);
}

.label-fname-upload,
.label-id-upload {
    color: white;
    padding-left: 2em;
    margin-top: calc(3%);
}

.label-button-predict {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: calc(6%) !important;
    background: #B3CCDF !important;
    color: #005A9B;
}

.upload-button-verify {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: calc(6%) !important;
    background: #B3CCDF !important;
    color: #005A9B;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

div_2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#videoElement {
    width: 640px;
    height: 480px;
    background-color: #666;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

canvas {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


/* #image_verify {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
} */

#canvas_verify {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#imageElement {
    width: 640px;
    height: 480px;
    background-color: #666;
}

#canvasElement {
    width: 640px;
    height: 480px;
    display: none;
}

table {
    font-family: arial, sans-serif;
    text-align: center;
    border-collapse: collapse;
    border: 4px solid #bec3c3;
    width: 100%;
}

td,
th {
    border: 2px solid #bfbfbc;
    padding: 12px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}

.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.icon-bar {
    width: 100px;
    /* Set a specific width */
    background-color: #555;
    /* Dark-grey background */
}

.icon-bar a {
    display: block;
    /* Make the links appear below each other instead of side-by-side */
    text-align: center;
    /* Center-align text */
    padding: 22px;
    /* Add some padding */
    transition: all 0.3s ease;
    /* Add transition for hover effects */
    color: white;
    /* White text color */
    font-size: 48px;
    /* Increased font-size */
}

.icon-bar a:hover {
    background-color: #000;
    /* Add a hover color */
}

.cam_btn {
    position: relative;
    width: 100%;
}

.cam_btn .btn_cam_verify {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.cam_btn .btn_cam_detect {
    width: 40%;
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 20px;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

#canvas_detect,
#canvas_video {
    width: 100%;
    height: 50%;
    object-fit: cover;
    /*margin-top: calc(10%)*/
}

.back-home-page {
    padding: 0 0.6em;
    color: white;
    margin-left: 3%;
    background: #005A9B !important;
    border-radius: 4.5px;
    font-size: 18px;
}


/*#content {
  margin-top: 0.5em !important;
}*/


/*.navbar, #content {
  width: 50%;
  margin: auto;
}*/

#content {
    margin-top: 4em !important;
    width: 50%;
    margin: auto;
}


/*.footer {
  width: 50%;
}*/

.upload-sample-image {
    object-fit: contain;
}

.upload-upload-user,
.verify-verify-faces {
    object-fit: cover;
}

.upload-sample-image,
.upload-upload-user {
    width: 90%;
    height: 30vh;
    display: block;
    margin: auto;
}

.verify-verify-faces {
    width: 90%;
    height: 60vh;
    display: block;
    margin: auto;
}

#fname_capture,
#id_capture {
    width: 90%;
    margin: auto;
    display: block
}

#label_1_capture,
#label_2_capture {
    padding-left: 10%;
    color: white;
    display: block
}

#submit_capture,
#snap_capture_1cam {
    width: 40%;
    margin: auto;
    margin-top: calc(6%);
    display: block;
    background: #B3CCDF !important;
    color: #005A9B;
}

#check_capture #switch_btn {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    display: block
}

#check_capture #snap_capture {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding-left: 2em;
    padding-right: 2em;
    display: block
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #image_capture,
    #canvas_video_after,
    .upload-sample-image,
    .upload-upload-user {
        width: 100%;
        height: 30vh;
    }
    .verify-verify-faces {
        width: 100%;
        height: 60vh;
    }
    .navbar,
    #content {
        width: 100%;
        margin: auto;
    }
    #content {
        margin-top: 1em !important;
    }
    .footer {
        width: 100% !important;
    }
    #check_capture #switch_btn,
    #check_capture #snap_capture {
        width: 90%;
    }
}

@media (min-width: 322px) and (max-width: 767.98px) {
    #image_capture,
    #canvas_video_after,
    .upload-sample-image,
    .upload-upload-user {
        width: 100%;
        height: 30vh;
    }
    .verify-verify-faces {
        width: 100%;
        height: 60vh;
    }
    .navbar,
    #content,
    #detect-content,
    #capture-content {
        width: 100%;
        margin: auto;
    }
    #detect-content,
    #capture-content {
        margin-top: calc(4%);
    }
    .back-home-page {
        margin-left: 1%;
    }
    .button-upload,
    .button-detect,
    .button-verify,
    .button-capture,
    .button-list_users,
    .button-delete {
        width: 85%;
    }
    #content {
        margin-top: 6% !important;
    }
    #loadingMessage {
        width: 80%;
        margin-top: 10%;
    }
    .label-button-predict,
    #submit_upload,
    #submit_delete,
    #submit_delete_all,
    #submit_login,
    #submit_register {
        width: 60%;
    }
    #submit_verify {
        width: 80%;
    }
    .label-fname-delete,
    .label-id-delete,
    .label-fname-login,
    .label-id-login,
    .label-fname-register,
    .label-id-register,
    #show_password {
        margin-top: calc(4%);
        padding-left: 0;
    }
    .label-fname-upload,
    .label-id-upload {
        margin-top: calc(3%);
        padding-left: 0;
    }
    /*#canvas_detect, #canvas_video {
    width: 80%;
    object-fit: cover;
    height: 50%;
  }*/
    #check_capture #switch_btn,
    #check_capture #snap_capture {
        width: 100%;
    }
}

@media screen and (max-width: 321px) {
    body,
    html {
        font-size: 15px !important;
    }
    #image_capture,
    #canvas_video_after,
    .upload-sample-image,
    .upload-upload-user {
        width: 100%;
        height: 30vh;
    }
    .verify-verify-faces {
        width: 100%;
        height: 60vh;
    }
    .navbar,
    #content,
    #detect-content,
    #capture-content {
        width: 100%;
        margin: auto;
    }
    #detect-content,
    #capture-content {
        margin-top: calc(4%);
    }
    .back-home-page {
        margin-left: 1%;
    }
    .button-upload,
    .button-detect,
    .button-verify,
    .button-capture,
    .button-list_users,
    .button-delete {
        width: 95%;
    }
    #content {
        margin-top: 6% !important;
    }
    #loadingMessage {
        width: 80%;
        margin-top: 10%;
    }
    .label-button-predict,
    #submit_upload,
    #submit_delete,
    #submit_delete_all,
    #submit_login,
    #submit_register {
        width: 60%;
    }
    #submit_verify {
        width: 80%;
    }
    .label-fname-delete,
    .label-id-delete,
    .label-fname-login,
    .label-id-login,
    .label-fname-register,
    .label-id-register,
    #show_password {
        margin-top: calc(4%);
        padding-left: 0;
    }
    .label-fname-upload,
    .label-id-upload {
        margin-top: calc(3%);
        padding-left: 0;
    }
    #check_capture #switch_btn,
    #check_capture #snap_capture {
        width: 100%;
    }
}


/*
@media (min-width: 992px) and (max-width: 1199.98px) {
}
@media (min-width: 1200px) {
}
*/